.bg-green {
  background-image: url("../../../../assets/svg/summary/bg-green.svg");
  background-size: no-repeat;
  background-position: bottom;
}

.bg-blue {
  background-image: url("../../../../assets/svg/summary/bg-blue.svg");
  background-size: no-repeat;
  background-position: bottom;
}

.bg-red {
  background-image: url("../../../../assets/svg/summary/bg-red.svg");
  background-size: no-repeat;
  background-position: bottom;
}

.bg-gold {
  background-image: url("../../../../assets/svg/summary/bg-gold.svg");
  background-size: no-repeat;
  background-position: bottom;
}
